// scss-docs-start theme-text-variables
$primary-text-emphasis: #b8dcff;
$secondary-text-emphasis: #c8d3e0;
$success-text-emphasis: #003917;
$info-text-emphasis: #c4ecff;
$warning-text-emphasis: #3e2800;
$danger-text-emphasis: #5b1103;
$light-text-emphasis: $gray-100;
$dark-text-emphasis: $gray-300;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle: $primary;
$secondary-bg-subtle: $secondary;
$success-bg-subtle: $success;
$info-bg-subtle: $info;
$warning-bg-subtle: $warning;
$danger-bg-subtle: $danger;
$light-bg-subtle: $gray-800;
$dark-bg-subtle: mix($gray-800, $black);
$body-bg: $gray-400;
$body-tertiary-bg: $gray-300;
$border-color: $gray-600;
// scss-docs-end theme-bg-subtle-variables
